.glossary-filter {
  border-bottom:1px solid #ccc;
  overflow: hidden;
}	
.glossary-filter .item-list ul li {
  background: none;
  float:left;	
  list-style-type:none;
  list-style:none;	
  padding:0px;
  text-align:center;
  width:16%;
}
.glossary-result .item-list ul li {
  background: none;
  clear:both;
  list-style-type:none;
  list-style:none;	
  padding:0px;
}
